.carousel-container{
    width: 100%;
    max-width: 1200px;
    overflow:hidden;
}
.carousel{
    position: relative;
}
.dot{
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 100em;
    
}
.carousel-arrow{
    filter: brightness(0%);
}